name: Clean untagged docker images

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions: {}

jobs:
  clean:
    name: Clean untagged docker images
    runs-on: ubuntu-latest
    continue-on-error: true

    permissions:
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run script
        run: ./delete_ghcr_dangling_images.sh gh-metrics metrics
        working-directory: .github/actions/ghcr-clean
        env:
          GITHUB_TOKEN: ${{ secrets.GHCR_BOT_TOKEN }}
